[Unit]
Description=Turtle Firewall
After=syslog.target network.target local-fs.target dkms.service
Requires=network.target

[Service]
ExecStart=/usr/sbin/turtlefirewall --start
ExecStartPost=/usr/lib/turtlefirewall/ip_blacklist -x
ExecStop=/usr/sbin/turtlefirewall --stop
ExecStopPost=/bin/rm -f /etc/turtlefirewall/iptables.dat
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
